<a href="https://colab.research.google.com/github/meee123-god/MeeHelloGod/blob/main/python3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DATE : 2 APRIL 2025 , DAY : THRUSDAY**

python 3 (pandas)

In [43]:
print("hello bhagwan")

hello bhagwan

In [ ]:
i=1.1
print(type(i))

<class 'float'>

#*PANDAS*

In [1]:
import pandas as pd
#data sample data set
data={
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
}
#convert dictionary to dataframe
df=pd.DataFrame(data)
# print the DataFrame
print(df)
#here output comes as a table and Each column is a feature, and each row is a data entry.

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

# **reading and writing CSV files**

**writing and creating a csv file**

In [5]:
# prompt: make csv file with some 20 lines data

import pandas as pd
import numpy as np

# Create a sample DataFrame with 20 rows
data = {
    'Name': np.random.choice(['Alice', 'Bob', 'Charlie', 'David', 'Eve'], size=20),
    'Age': np.random.randint(20, 40, size=20),
    'Salary': np.random.randint(40000, 80000, size=20)
}
df = pd.DataFrame(data)

# Save the DataFrame to a CSV file
df.to_csv('output.csv', index=False)

In [7]:
#reading csv file
df= pd.read_csv('output.csv')
print(df.head())# show firsst 5 rows

      Name  Age  Salary
0    Alice   33   49546
1      Bob   39   46343
2    Alice   34   67778
3  Charlie   29   64854
4      Bob   37   49862

In [8]:
print(df.head())  # show first five rows
print(df.describe()) # summary statistics (mean, min ,max, etc.)
print(df.info())  # dataset info(columns,data types, etc.)

      Name  Age  Salary
0    Alice   33   49546
1      Bob   39   46343
2    Alice   34   67778
3  Charlie   29   64854
4      Bob   37   49862
             Age        Salary
count  20.000000     20.000000
mean   30.700000  60385.000000
std     6.602232  11492.703891
min    20.000000  45604.000000
25%    25.500000  49783.000000
50%    32.000000  61747.000000
75%    37.000000  68472.500000
max    39.000000  79522.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    20 non-null     object
 1   Age     20 non-null     int64
 2   Salary  20 non-null     int64
dtypes: int64(2), object(1)
memory usage: 612.0+ bytes
None

In [29]:
import pandas as pd
import numpy as np
datr ={
     'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Hannah', 'Ian', 'Jack'],
    'Score': [85, 78, 92, 88, 76, 95, 89, 67, 80, 91],
    'Grade': ['B', 'C', 'A', 'B+', 'C', 'A+', 'B+', 'D', 'B', 'A']
}
df=pd.DataFrame(datr)
print(df)
df.to_csv('students_data.csv',index=False)
print(df.tail(-8)) # gives you last lines of csv
print(df.iloc[-1]) # alternative of tail
print(df.shape)  #(rows , columns)
print(df.columns) # columns name

      Name  Score Grade
0    Alice     85     B
1      Bob     78     C
2  Charlie     92     A
3    David     88    B+
4      Eve     76     C
5    Frank     95    A+
6    Grace     89    B+
7   Hannah     67     D
8      Ian     80     B
9     Jack     91     A
   Name  Score Grade
8   Ian     80     B
9  Jack     91     A
Name     Jack
Score      91
Grade       A
Name: 9, dtype: object
(10, 3)
Index(['Name', 'Score', 'Grade'], dtype='object')



# 2 : selecting and filtering  DATa

*selecting columns*

In [32]:
print(df["Name"]) # select  single column
print(df[['Name','Score']]) # select multiple columns

0      Alice
1        Bob
2    Charlie
3      David
4        Eve
5      Frank
6      Grace
7     Hannah
8        Ian
9       Jack
Name: Name, dtype: object
      Name  Score
0    Alice     85
1      Bob     78
2  Charlie     92
3    David     88
4      Eve     76
5    Frank     95
6    Grace     89
7   Hannah     67
8      Ian     80
9     Jack     91

*selecting rows*

In [36]:
print(df.iloc[2])# select the third row
print(df.iloc[1:4])# select rows from 1 to 4

Name     Charlie
Score         92
Grade          A
Name: 2, dtype: object
      Name  Score Grade
1      Bob     78     C
2  Charlie     92     A
3    David     88    B+

*filtering data(condition-based selection)*

In [38]:
high_scores=df[df['Score']>85] #students with score > 85
print(high_scores)
grade_a =df[df['Grade']!="B"] # students with grade B
print(grade_a)

      Name  Score Grade
2  Charlie     92     A
3    David     88    B+
5    Frank     95    A+
6    Grace     89    B+
9     Jack     91     A
      Name  Score Grade
1      Bob     78     C
2  Charlie     92     A
3    David     88    B+
4      Eve     76     C
5    Frank     95    A+
6    Grace     89    B+
7   Hannah     67     D
9     Jack     91     A

#  3 : sorting & Modifying data

*3.1 : sorting data*

In [40]:
df_sorted =df.sort_values(by='Score',ascending= True) # sort by score in ascending order
print(df_sorted)

      Name  Score Grade
7   Hannah     67     D
4      Eve     76     C
1      Bob     78     C
8      Ian     80     B
0    Alice     85     B
3    David     88    B+
6    Grace     89    B+
9     Jack     91     A
2  Charlie     92     A
5    Frank     95    A+

*3.2: adding a new column*

In [41]:
df['pass/fail']=df['Score'].apply(lambda v:"pass"if v>+40 else 'fail')
print(df)

      Name  Score Grade pass/fail
0    Alice     85     B      pass
1      Bob     78     C      pass
2  Charlie     92     A      pass
3    David     88    B+      pass
4      Eve     76     C      pass
5    Frank     95    A+      pass
6    Grace     89    B+      pass
7   Hannah     67     D      pass
8      Ian     80     B      pass
9     Jack     91     A      pass